ul {
  padding-left: 16px;
}
.staticH6 {
  margin-bottom: 0px;
}

.staticTableCol {
  padding: 0px;
  border: 1px solid black;
  margin-bottom: 30px;
}
.staticTableCol > p {
  padding: 15px 30px;
}
.staticTableCol > h5 {
  padding: 20px 30px;
  background-color: lightgrey;
  letter-spacing: 0px;
  font-size: 14px;
}
